FLASK_ENV=production
DATABASE_URL=mssql+pyodbc://user:pass@server.database.windows.net/dbname?driver=ODBC+Driver+18+for+SQL+Server
MARKETDATA_API_TOKEN=
FMP_API_KEY=
WEBSITE_API_KEY=
BOT_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
